/* defint page colours */
:root {
    --customdarkgrey: #263238;
    --customlightgrey: #607d8b;
    --customdarkblue: #1565c0;
    --customlightblue: #42a5f5;
}

/* img{
    width:50%;
} */

/* set fonts, remove default body margin, some adjustments to margins */
body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin: 0px;
}
.heading-font{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
em{
    font-weight: bold;
    font-style: normal;
}
h1, h2, h3{
    text-transform: uppercase;
}
h1{
    font-size: 48px;
    margin-bottom: 0px;
}
h2{
    font-weight: normal;
    font-size: medium;
    margin: 0px;
}
li{
    padding:10px;
}

/* set up flex containers, pad content */
.flex-container {
    display: flex;
    /* to check for incorrect margins etc */
    /* background-color: red; */
}
.flex-child {
    flex-grow: 1;
    padding: 20px;
    padding-left: 28px;
}
.vertical{
    flex-direction: column;
}

/* set background colours */
.header-section{
    background-color: var(--customdarkgrey);
}
div>div:nth-child(3n+1){
    background-color: var(--customdarkblue);
}
div>div:nth-child(3n+2){
    background-color: var(--customlightblue);
}
div>div:nth-child(3n+3){
    background-color: var(--customlightgrey);
}

/* create box styling for date info */
.date-info{
    padding: 5px;
    border-radius: 5px;
    background: var(--customlightgrey);
    width: fit-content;
    margin: 5px;
}
.date-info-alt{
    background: white;
    color: black;
}
